h1 {
    text-align: center;
    color:indigo;
}
body {
    background-color: whitesmoke;
}
.obs {
    color: #0b8793;
}
.obs2 {
    color: #0b8793;
}
.obs3 {
    color: #0b8793;
}
.obs4 {
    color: #0b8793;
}
.obs5 {
    color: #0b8793;
}